.main{background-color: #f3f3f3;width: 100%;}
.inner{width: 1000px;margin: 0 auto;padding: 86px 0 174px 5px;}
.inner li{float: left;width: 227px;height: 227px;margin-right: 29px;margin-bottom: 30px;text-align: center;background-color: #ecedec;border-radius: 5px;}
.inner li:nth-child(4n+4){margin-right: 0;}
.inner li img{display: inline;margin-top: 50%;transform: translateY(-50%);}
.inner li img:last-child{display: none;}
.inner li:hover img:first-child{display: none;}
.inner li:hover img:last-child{display: inline;}

