


.bn-right .dt p{padding-top: 59px;font-size: 14px;color: #585858;line-height: 22px;}
.bn-right h2{font-size: 30px;color: #b53852;font-weight: normal;text-align: center;padding-top: 81px;padding-bottom: 77px;}

.bn-right ul{width: 744px;}
.bn-right ul li{width: 168px;float: left;height: 287px;padding-left: 40px;padding-right: 40px;}
.bn-right ul .other{padding-left: 0;}
.bn-right ul .last{height: 430px;}
.bn-right li img{padding-left: 31px;padding-bottom: 21px;}
.bn-right li h6{font-size: 18px;font-weight: normal;color: #b53852;padding-bottom: 24px;text-align: center}
.bn-right li .wire{width: 30px;height: 2px;background-color: #ba1919;margin-left: 68px;margin-bottom: 15px;}
.bn-right li p{font-size: 14px;color: #585858;line-height: 22px;}

