.main{background-color:#060606;height:908px;width: 100%;position: relative;}
.main-bg{background: #fff;width: 50%;height: 908px;padding-right: 500px;position: absolute;left: 50%;top: 0;transform: translate(-500px,0);}
.main-inner{position: absolute;width: 1000px;left: 0;top:0;}
.main-inner .mi-left{float: left;width: 463px;height: 908px;position: relative;}
.main-inner .mi-left:after{content: "";background: -webkit-linear-gradient(top right,transparent 50% ,#f0f0f0 0);position: absolute;width: 43px;height: 43px;top:0;right: 0;}
.main-inner .mi-left:before{content: "";background: -webkit-linear-gradient(bottom left,transparent 50% ,#fff 0);position: absolute;width: 43px;height: 43px;top:0;right: 0;}
.main-inner .mi-right{float: left;width: 417px;padding-left: 120px;}
.main-inner .mi-right .text-pic{margin-top: 169px;margin-left: -16px;}
.main-inner .mi-right h4{font-size: 30px;line-height: 40px;color: #040808;}
.main-inner .mi-right p{font-size: 12px;line-height: 24px;margin-top:57px;color: #585858;padding:0 6px;}

.mi-right ul{margin-top: 95px;}
.mi-right ul li{height: 51px;width: 417px;margin-bottom: 33px;}

.mi-right li .main-li-left{float: left;width: 49px;height: 49px;border: 1px solid #dadada;margin-left:4px;line-height: 49px;text-align: center;}
.mi-right li .main-li-left img{display: inline;}
.mi-right li h6{font-size:14px;font-weight: normal;line-height: 29px;margin-left:18px;float: left;width: 344px;}
.mi-right li h6 a{color: #101010;}
.mi-right li h6 a:hover{color: #b53852;}
.mi-right li .time{font-size:12px;line-height: 20px;color: #585858;margin-left:18px;float: left;}



