.bn-right .pic{margin-left: 2px;margin-top: 65px;}
.bn-right p{font-size: 14px;line-height: 24px;margin-top: 21px;color: #585858;margin-left: 2px;}
.bn-right .introduce h5{font-size: 24px;color:#0d0d0d;text-align: center;line-height: 86px;font-weight: normal;margin-top: 27px;}
.bn-right ul{margin-top:20px;margin-bottom: 170px;}
.bn-right ul li{width:181px;height: 34px;line-height:36px;text-align: right;border: 2px solid #dadada;border-radius: 2px;float: left;margin: 0 60px 40px 0;padding-right: 10px;font-size: 13px;color: #212121;position: relative;}
.bn-right ul .third{margin-right: 0;}
.bn-right ul li .dot{width:40px;height:35px;position: absolute;left: 8px;top:10px;}
.bn-right ul li .dot .dot-1{width:30px;height: 35px;background-color: #fff;float: left;font-family: 'Conv_AF Lapland Pro-Thin',Sans-Serif;font-size: 50px;color: #acacac;margin-top: 3px;padding-right: 2px;}
.bn-right ul li .dot .dot-2{width: 8px;height: 8px;border-radius: 4px;background-color: #212121;float: left;margin-top: 21px;}




