<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/culture.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>
<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="FAQ.html">常见问题</a></dd>
                    <dd><a href="integrity.html">诚信合规</a></dd>
                    <dd><a href="profile.html">公司简介</a></dd>
                    <dd><a href="history.html">历史和里程碑</a></dd>
                    <dd><a href="culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="banner clearfix">
    <dl class="bn-left">
        <dt><i>◇</i>关于我们</dt>
        <dd><a href="FAQ.html">常见问题</a></dd>
        <dd><a href="integrity.html">诚信合规</a></dd>
        <dd><a href="profile.html">公司简介</a></dd>
        <dd class="active"><a href="culture.html">文化和价值观</a></dd>
        <dd><a href="history.html">历史和里程碑</a></dd>
    </dl>
    <div class="bn-right">
        <div class="bread">
            <a href="../../index.html"><span>Home</span><i> > </i></a>
            <a href="FAQ.html"><span>关于我们</span><i> > </i></a>
            <a href="culture.html"><span>文化和价值观</span></a>
        </div>
        <h3>文化和价值观</h3>

        <div class="business">
            <h4>公司宗旨</h4>
            <p>诚信经营，为全球消费者提供优质的品牌产品和服务，亲近和美化人们的日常生活。</p>
        </div>
        <div class="value">
            <h4>公司核心价值</h4>
            <span>怡宝品牌和怡宝人是公司成功的基石。<br>在致力于美化世界各地消费者生活的同时，<br>怡宝人实现着自身的价值。</span>
            <p>怡宝公司，就是怡宝人以及他们遵从的价值观，我们吸引和招聘世界上最优秀的人才。我们实行从内部发展<br>的组织制度，选拔、提升和奖励表现突出的员工而不受任何与工作表现无关的因素影响。我们坚信，怡宝的<br>所有员工始终是公司最宝贵的财富。</p>
        </div>
        <div class="lead">
            <h4>领导才能</h4>
            <p>我们都是各自职责范围内的领导者，兢兢业业地在各自岗位上作出显著的成绩。<br>我们对我们的工作前景有清楚的认识。</p>
        </div>
        <div class="host">
            <h4>主人翁精神</h4>
            <p>我们担负起各自的工作责任，从而实现满足公司业务需要，完善公司体制和帮助其他员工提高工作成效的目标。</p>
        </div>
        <div class="integrity">
            <h4>诚实正直</h4>
            <p>我们诚实正直，坦率待人。<br>
                我们的业务运作恪守法律的文字规定和内涵精神。<br>
                我们在采取每一行为、作出每一决定时，始终坚持公司的价值观和原则。
            </p>
        </div>
        <div class="win">
            <h4>积极热情</h4>
            <p>我们决心将最重要的事做得最好。<br>
                我们不会满足于现状，不断去寻求突破。<br>
                我们有强烈的愿望去不断完善自我，不断赢取市场。
            </p>
        </div>
        <div class="tenet">
            <h4>公司原则</h4>
            <p>由公司的宗旨和价值观产生下列原则和行为依据。</p>
        </div>
        <div class="respect">
            <h4>我们尊重每一位员工</h4>
            <p>我们相信每一位员工都能够，并且愿意发挥其最大潜力。<br>
                我们鼓励并且期望员工有出色的专业知识和精湛的工作技能。<br>
                我们激发和帮助员工去实现更高的期望、标准和具有挑战性的目标。
            </p>
        </div>
        <div class="innovate">
            <h4>创新是我们成功的基石</h4>
            <p>我们极为重视重大的、全新的消费品创新意念。<br>我们挑战陈规，开拓新的工作方法，从而在市场上赢得更大的成功。</p>
        </div>
        <div class="importance">
            <h4>我们重视公司外部环境的变化和发展</h4>
            <p>我们力求最好地了解消费者及其需要。<br>
                我们创造和提供一流的产品和包装，倡导全新的消费观念，树立成功的品牌形象。<br>
                我们发展与客户、供应商之间紧密互惠的关系。<br>
                我们的公司是有良好素质的法人。<br>
                我们将可持续性融入我们的产品、包装和运营。
            </p>
        </div>
        <div class="life">
            <h4>互相依靠、互相支持的生活方式</h4>
            <p>我们的各个业务组织、部门、品类和区域之间相互信任，紧密合作。<br>
                我们与所有为实现公司宗旨作出贡献的各方，包括我们的客户、供应商、学校和政府，建立真诚友好的关系。
            </p>
        </div>
        <div class="target">
            <h4>公司的远景目标与承诺</h4>
            <p>公司的远景目标<br>成为并被公认为提供世界一流消费品和服务的公司。</p>
        </div>
        <div class="promise">
            <h4>公司的承诺</h4>
            <p>为现在和未来，怡宝人尽心尽力，确保我们的品牌实现我们对消费者的承诺：一点一滴, 美化生活。</p>
        </div>
    </div>
</div>
<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="history.html">历史及里程碑</a></dd>
            <dd><a href="culture.html">文化及价值观</a></dd>
            <dd><a href="integrity.html">诚信合规</a></dd>
            <dd><a href="FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>