<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/history.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>
<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="FAQ.html">常见问题</a></dd>
                    <dd><a href="integrity.html">诚信合规</a></dd>
                    <dd><a href="profile.html">公司简介</a></dd>
                    <dd><a href="history.html">历史和里程碑</a></dd>
                    <dd><a href="culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="banner clearfix">
    <dl class="bn-left">
        <dt><i>◇</i>关于我们</dt>
        <dd><a href="FAQ.html">常见问题</a></dd>
        <dd><a href="integrity.html">诚信合规</a></dd>
        <dd><a href="profile.html">公司简介</a></dd>
        <dd><a href="culture.html">文化和价值观</a></dd>
        <dd class="active"><a href="history.html">历史和里程碑</a></dd>
    </dl>
    <div class="bn-right">
        <div class="bread">
            <a href="../../index.html"><span>Home</span><i> > </i></a>
            <a href="FAQ.html"><span>关于我们</span><i> > </i></a>
            <a href="history.html"><span>历史和里程碑</span></a>
        </div>
        <h3>历史及里程碑</h3>
        <div class="list clearfix">
            <ul class="list-left">
                <li>
                    <div class="history-pic">
                        <img src="../../image/history1_1.jpg"/>
                        <img src="../../image/history1_2.jpg"/>
                    </div>
                    <h5>1962</h5>
                    <p>COCOVEL首次进驻亚洲，在新加坡、马来西亚等地开设了17家品牌专卖店。</p>
                    <img class="icon" src="../../image/history1.png"/>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history2_1.jpg"/>
                        <img src="../../image/history2_2.jpg"/>
                    </div>
                    <h5>2012</h5>
                    <p>HOF名言堂品牌成立，HOF（Herbal of Forest）天然活机护肤产品诞生于澳大利亚，名字来源于Healthy-健康，Organic-活机，Future-未来，HOF以草本植物和花卉为天然原料，萃取精华，将大自然的馈赠完美回馈给用户。</p>
                    <img class="icon" src="../../image/history2.png"/>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history3_1.jpg"/>
                        <img src="../../image/history3_2.jpg"/>
                    </div>
                    <h5>2015.4</h5>
                    <p>贝仙吉品牌进驻中国大陆，在江苏昆山正式成立分部。贝仙吉是源自法国的宠物洗护专家，专注宠物用品30年，旗下产品包含宠物洗护用品、零食和日常用品等，满足萌宠的全方位需求。</p>
                    <img class="icon" src="../../image/history3.png"/>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history4_1.jpg"/>
                        <img src="../../image/history4_2.jpg"/>
                    </div>
                    <h5>2016.11</h5>
                    <p>COCOVEL当天实现了第一个“单天千万销售额”目标，销量达到861,600瓶,销售额达到17,232,000元，成为本次“双11”的一匹黑马，突破重围杀进天猫美发护发类用品前五。</p>
                </li>
            </ul>
            <ul class="list-mid">
                <li>
                    <div class="history-pic">
                        <img src="../../image/history5_1.jpg"/>
                        <img src="../../image/history5_2.jpg"/>
                    </div>
                    <h5>2009</h5>
                    <p>COCOVEL的经营范围迅速扩大，覆盖了韩国、日本、香港、台湾、新加坡、印尼、马来西亚等地；并在新加坡成立了品牌监管部。</p>
                </li>
                <li class="mzt">
                    <div class="history-pic">
                        <img src="../../image/history6_1.jpg"/>
                        <img src="../../image/history6_2.jpg"/>
                    </div>
                    <h5>2014.3.12</h5>
                    <p>满芝堂在香港注册商标，香港满芝堂医药化妆品集团现分两大集团板块：中医除螨和皮肤外科，产品远销大陆、台湾、日本、新加坡、美国、欧洲、东南亚、中东等国家和地区，在全球拥有2000多家经销商和代理商。</p>
                    <img class="icon" src="../../image/history4.png"/>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history7_1.jpg"/>
                        <img src="../../image/history7_2.jpg"/>
                    </div>
                    <h5>2015.9</h5>
                    <p>“清柔”品牌成立，清柔深谙秀发补水之道，产品突破性的洗护配方,专门针对头发干枯、毛躁、分叉等问题,给每寸发丝源源不断的水润呵护。</p>
                    <img class="icon" src="../../image/history5.png"/>
                </li>
            </ul>
            <ul class="list-right">
                <li>
                    <div class="history-pic">
                        <img src="../../image/history8_1.jpg"/>
                        <img src="../../image/history8_2.jpg"/>
                    </div>
                    <h5>2014</h5>
                    <p>COCOVEL与美洲投资控股集团旗下上海怡宝化妆品有限公司联手合作，正式进入中国大陆市场。</p>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history9_1.jpg"/>
                        <img src="../../image/history9_2.jpg"/>
                    </div>
                    <h5>2014.3.14</h5>
                    <p>满芝堂”在江苏昆山注册商标正式成立，“满芝堂”曾是清朝时期最负盛名的外科药铺老字号，尤其是在肌肤除螨方面，拥有17项国家专利技术，并研发出完整一套除螨产品，涵盖脸部除螨、身体除螨、衣物除螨、环境除螨、宠物除螨、食品除螨等，“要想美，先除螨”，“满芝堂”除螨产品已成为这个行业的标杆。</p>
                </li>
                <li>
                    <div class="history-pic">
                        <img src="../../image/history10_1.jpg"/>
                        <img src="../../image/history10_2.jpg"/>
                    </div>
                    <h5>2016.5</h5>
                    <p>在第21届中国美容博览会在上海召开之际，来自欧洲香氛品牌COCOVEL受邀参加，正式亮相上海美博会。</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="history.html">历史及里程碑</a></dd>
            <dd><a href="culture.html">文化及价值观</a></dd>
            <dd><a href="integrity.html">诚信合规</a></dd>
            <dd><a href="FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>