<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/integrity.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>
<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="FAQ.html">常见问题</a></dd>
                    <dd><a href="integrity.html">诚信合规</a></dd>
                    <dd><a href="profile.html">公司简介</a></dd>
                    <dd><a href="history.html">历史和里程碑</a></dd>
                    <dd><a href="culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="banner clearfix">
    <dl class="bn-left">
        <dt><i>◇</i>关于我们</dt>
        <dd><a href="FAQ.html">常见问题</a></dd>
        <dd class="active"><a href="integrity.html">诚信合规</a></dd>
        <dd><a href="profile.html">公司简介</a></dd>
        <dd><a href="culture.html">文化和价值观</a></dd>
        <dd><a href="history.html">历史和里程碑</a></dd>
    </dl>
    <div class="bn-right">
        <div class="bread">
            <a href="../../index.html"><span>Home</span><i> > </i></a>
            <a href="FAQ.html"><span>关于我们</span><i> > </i></a>
            <a href="integrity.html"><span>诚信合规</span></a>
        </div>
        <h3>诚信合规</h3>
        <div class="dt">
            <p>上海怡宝化妆品有限公司始终遵循最高标准的商业行为规范，秉持"诚实守信，遵纪守法，格守承诺"的行为准则，不断完善各项管理制度，营造健康诚信的运营环境，建立优秀的企业形象。</p>
        </div>
        <h2>诚信合规承诺</h2>

        <ul class="clearfix">
            <li class="other">
                <img src="../../image/gov.png">
                <h6>对待政府</h6>
                <div class="wire"></div>
                <p>依法纳税，遵守国家法律法规及政府监管规定。</p>
            </li>
            <li>
                <img src="../../image/stock.png">
                <h6>对待股东</h6>
                <div class="wire"></div>
                <p>恪守职业操守，维护股东权益，规范信息披露，全心全意为股东创造最大化的价值。</p>
            </li>
            <li>
                <img src="../../image/par.png">
                <h6>对待合作伙伴</h6>
                <div class="wire"></div>
                <p>遵守行为规范和商业道德，信守商业承诺，开展公平竞争。</p>
            </li>
            <li class="other">
                <img src="../../image/client.png">
                <h6>对待客户</h6>
                <div class="wire"></div>
                <p>保护客户基本权益，尊重客户隐私，严禁价格误导和欺诈，积极应对投诉，为客户提供安全、优质的产品与服务。</p>
            </li>
            <li>
                <img src="../../image/staff.png">
                <h6>对待员工</h6>
                <div class="wire"></div>
                <p>遵守劳动法律法规中对平等雇佣、劳动报酬、社会保险、超时工作、带薪休假、隐私保护、职业健康安全等方面的规定，营造良好工作环境，促进员工职业发展。</p>
            </li>
            <li class="last">
                <img src="../../image/society.png">
                <h6>对待环境与社会</h6>
                <div class="wire"></div>
                <p>我们承诺做环境友好型、资源节约型企业，致力于保护环境和合理利用资源，推动绿色能源和环境友好产品的开发利用；主动履行企业社会责任，实现企业与环境、企业与社会、企业与员工的共同和谐发展。</p>
            </li>
        </ul>
    </div>
</div>

<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="history.html">历史及里程碑</a></dd>
            <dd><a href="culture.html">文化及价值观</a></dd>
            <dd><a href="integrity.html">诚信合规</a></dd>
            <dd><a href="FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>