<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/news-1.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>

<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="../about/FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="../about/FAQ.html">常见问题</a></dd>
                    <dd><a href="../about/integrity.html">诚信合规</a></dd>
                    <dd><a href="../about/profile.html">公司简介</a></dd>
                    <dd><a href="../about/history.html">历史和里程碑</a></dd>
                    <dd><a href="../about/culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="main">
    <div class="bread">
        <a href="#"><span>Home</span><i> > </i></a>
        <a href="#"><span>企业责任</span><i> > </i></a>
        <a href="#"><span>新闻及媒体资源</span></a>
    </div>
    <h3>岂止于“香”—COCOVEL携手”图书馆计划”让“香”改变未来</h3>
    <p>近日，新生香氛洗护品牌COCOVEL开启了为期十天以“岂止于‘香’”为主题的”图书馆计划”公益活动。<br/><br/>
        香氛洗护COCOVEL作为一个新生代的香氛品牌，自成立以来就立志于为广大消费者带来更全面、更优质、更好的香氛产品，同时香氛洗护COCOVEL也开始逐步完善自己的品牌内涵：作为一个优秀的香氛洗护品牌，应该承担起相应的社会责任，积极的回馈社会。</p>
    <h4>教育就是改变”</h4>
    <p>香氛洗护COCOVEL董事长孙绪友先生表示：“孩子是社会的将来，而教育正是改变未来最有力的方法”，这一点与“图书馆计划”的口号不谋而合，更进一步促成了香氛洗护COCOVEL与”图书馆计划”公益活动的推行。<br/><br/>
        虽然目前国内的教育环境已经得到了大幅度的提升，但一些偏远落后地区的儿童读物资源依旧非常稀缺，改善他们的阅读条件任重而道远。香氛洗护COCOVEL与“图书馆计划”公益活动的推行便是希望为了改善这一状况贡献企业的一份力量，用实际行动实践慈善公益精神。<br/><br/>
        而“岂止于‘香’”这一主题意指：香氛洗护COCOVEL除了拥有诱人的香气外，更希望能将“书香”发扬光大，让书籍、教育、阅读成为更多人的权利。“赠人玫瑰，手有余香”，通过改善教育孩子们的生活，让他们的未来更精彩 ，拥有更多的可能，而香氛洗护COCOVEL也希望通过这个活动将积极向上的正能量传播给社会，同时增强企业自身的综合软实力。</p>
    <h4>慈善，不是一个人的战斗</h4>
    <p>公益组织“图书馆计划”作为一个公益平台，自2006年成立以来，其足迹遍布中国大陆，香港，越南，柬埔寨，美国。截止今日，一共帮助了70多万名学生和教师，捐助1900多图书馆，130多万本优质的图书，而这一切绝不是个人的能力可以达到的成就，这其中凝聚了数以万计的爱心与希望。<br/>
        香氛洗护COCOVEL希望这次与“图书馆计划”的合作能让更多的人知道并了解这一公益平台，也更是倡导一种“授人以渔”的慈善方式。建立更完善的教育环境及给予更多更好的竞争力才是最有力的支持。<br/><br/>
        此次，通过“图书馆计划”的公益活动，香氛洗护COCOVEL希望能通过每一次的慈善活动，负担起更多的社会责任与凝聚更多的社会的关怀与爱，并希望此次的公益活动能为世界注入一丝美好，一丝正能量，让爱心与慈善成为我们每个人的一种习惯。<br/>
        而此次活动香氛洗护COCOVEL的员工更是积极参与，真正以实际行动支持、实践公益，做到从我做起以自身的力量去感染带动身边的人，为孩子们争取更多更好的权益，为企业的进步贡献自己的绵薄之力。<br/><br/>
        公益，正一点一点渗透香氛洗护COCOVEL的每一个人的生活当中；公益，正一点一滴改变香氛洗护COCOVEL每一位员工的工作与生活方式；公益，正一步一步成为香氛洗护COCOVEL的“无形业务”。</p>
    <h4>慈善现场，爱心涌动</h4>
    <p>11月2日，启航于上海的“岂止于‘香’”公益活动，至11月11日于北京结束，历经上海、嘉兴、广州、北京四座城市，并得到这四座城市沃尔玛超市的鼎力支持。八场活动，场场人气沸腾，人头涌动。市民们的爱心让初冬的城市弥漫爱的温情与关怀，八场活动的募捐款项将被全数捐于“图书馆计划”，让孩子们能拥抱更缤纷的世界，让孩子们的未来充满无限幻想。<br/><br/>
        此次活动中，大家的热情更坚定了香氛洗护COCOVEL回馈社会的信念，相信在不久的将来香氛洗护COCOVEL会成长为更有企业实力，更能承担更多社会责任的品牌。</p>
</div>
<!--底部大图-->
<div class="big-pic">
    <img src="../../image/news-bot.jpg"/>
</div>

<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="../about/profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="../about/history.html">历史及里程碑</a></dd>
            <dd><a href="../about/culture.html">文化及价值观</a></dd>
            <dd><a href="../about/integrity.html">诚信合规</a></dd>
            <dd><a href="../about/FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="news.html">新闻中心</a></dd>
            <dd><a href="news.html">媒体报导</a></dd>
            <dd><a href="news.html">视频</a></dd>
            <dd><a href="news.html">媒体资料库</a></dd>
            <dd><a href="news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>