<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/news-1.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>

<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="../about/FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="../about/FAQ.html">常见问题</a></dd>
                    <dd><a href="../about/integrity.html">诚信合规</a></dd>
                    <dd><a href="../about/profile.html">公司简介</a></dd>
                    <dd><a href="../about/history.html">历史和里程碑</a></dd>
                    <dd><a href="../about/culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="main">
    <div class="bread">
        <a href="#"><span>Home</span><i> > </i></a>
        <a href="#"><span>企业责任</span><i> > </i></a>
        <a href="#"><span>新闻及媒体资源</span></a>
    </div>
    <h3>香氛洗护COCOVEL强势入驻华润万家</h3>
    <p>2016年的下半年对于COCOVEL来说是忙碌的。8月COCOVEL开始与华润万家商讨合作事宜，并很快达成一致开始了双方的第一次合作。这是COCOVEL品牌走出的重要一步，也是商业战略上的重要举措。<br/><br/>

        香氛洗护COCOVEL作为一个新生品牌从启始便下定了将产品做好，做优，做全面的决心。而作为一个香氛洗护品牌，COCOVEL直接从原料端口开始把关，所有香氛原料均采购自欧洲，香型调配均由西班牙专业调香团队完成。馥郁芬芳，诱人的香气带有一丝丝舒心的醉人气息，恍若坠入奇幻仙境。<br/><br/>

        由电子商务平台起步的COCOVEL自成立以来已经积累下大批的忠实用户，现今将销售渠道拓宽至线下卖场则是为了更好的适应未来的销售趋势：电子商务、卖场、品牌体验店三足鼎立的情况。并且开拓线下销售能让消费者便捷地了解产品、获得产品的同时也能更好的输出品牌自身理念与形象。<br/>
        虽然华润万家并不是COCOVEL选择的第一家线下合作方，但与华润万家的合作是目前合作门店数量最大、合作门店所涉及地域最广的。华润万家作为2015年“中国连锁百强榜单”的榜首，其当年销售额高达1094亿元，门店总数达3397家。作为与百姓生活息息相关的零售方，为广大消费者提供丰富商品的同时也给顾客带来家的温馨、富足、现代、健康的感觉。<br/><br/>

        选择与华润万家合作的另一原因是：华润万家认为爱顾客就是爱自己。这与COCOVEL的企业理念相通：COCOVEL立志将自身的产品完善强大，呵护消费者的日常，并努力成长为更好的团队，为消费者提供更好的服务。<br/><br/>

        至发稿截止前，此次与华润万家的合作已有50家店铺上架COCOVEL产品，而且有更多的店铺正在陆续调配上架。这次的合作将会是COCOVEL与华润万家长久合作的一个良好的开端，也是COCOVEL进驻实体商场的伟大里程。<br/><br/>

        在未来，COCOVEL将持续稳固提升电子商务平台服务，同时也将大力开拓线下市场，让COCOVEL与消费者的距离更近，也将COCOVEL的迷人的香氛气息与更多的人分享。
    </p>
</div>
<!--底部大图-->
<div class="big-pic">
    <img src="../../image/news-bot-1.jpg"/>
</div>

<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="../about/profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="../about/history.html">历史及里程碑</a></dd>
            <dd><a href="../about/culture.html">文化及价值观</a></dd>
            <dd><a href="../about/integrity.html">诚信合规</a></dd>
            <dd><a href="../about/FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="news.html">新闻中心</a></dd>
            <dd><a href="news.html">媒体报导</a></dd>
            <dd><a href="news.html">视频</a></dd>
            <dd><a href="news.html">媒体资料库</a></dd>
            <dd><a href="news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>