<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/contact.css" rel="stylesheet" type="text/css">
    <link href="../../css/fonts.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5GnWerYVTR80hYVNMXS91n4DGEqBtRk0"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>
<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="../about/FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="../about/FAQ.html">常见问题</a></dd>
                    <dd><a href="../about/integrity.html">诚信合规</a></dd>
                    <dd><a href="../about/profile.html">公司简介</a></dd>
                    <dd><a href="../about/history.html">历史和里程碑</a></dd>
                    <dd><a href="../about/culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="inner">
            <h3>联系我们</h3>
            <p>江苏省昆山市花桥经济开发区绿地大道231弄杰座大厦9号楼22F</p>
            <div class="tel">www.cestbon.com&nbsp|&nbsp<span>+86 021 39216072</span></div>
            <ul>
                <li><img src="../../image/contact1.png"/></li>
                <li><img src="../../image/contact2.png"/></li>
                <li><img src="../../image/contact3.png"/></li>
            </ul>
        </div>
    </div>

    <div class="main-right clearfix">
        <div class="inner">
            <div id="allmap"></div>
        </div>

    </div>
</div>



<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="../about/profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="../about/history.html">历史及里程碑</a></dd>
            <dd><a href="../about/culture.html">文化及价值观</a></dd>
            <dd><a href="../about/integrity.html">诚信合规</a></dd>
            <dd><a href="../about/FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="contact.html">办公地点</a></dd>
            <dd><a href="contact.html">投资者联系</a></dd>
            <dd><a href="contact.html">媒体联系</a></dd>
            <dd><a href="contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(121.13678,31.289936);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    map.centerAndZoom(point, 15);
    var opts = {
        width : 200,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
        title : "上海怡宝化妆品有限公司" , // 信息窗口标题
        enableMessage:true,//设置允许信息窗发送短息
        message:"戳下面的链接看下地址喔~"
    };
    var infoWindow = new BMap.InfoWindow("地址：江苏省昆山市花桥经济开发区绿地大道231弄杰座大厦9号楼22F", opts);  // 创建信息窗口对象
    marker.addEventListener("click", function(){
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    });
</script>