<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/campus.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>
<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="../about/FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="../about/FAQ.html">常见问题</a></dd>
                    <dd><a href="../about/integrity.html">诚信合规</a></dd>
                    <dd><a href="../about/profile.html">公司简介</a></dd>
                    <dd><a href="../about/history.html">历史和里程碑</a></dd>
                    <dd><a href="../about/culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="training.html">管理培训生项目</a></dd>
                    <dd><a href="intern.html">暑假实习生</a></dd>
                    <dd><a href="apply.html">申请温馨提示</a></dd>
                    <dd><a href="work.html">工作在怡宝</a></dd>
                    <dd><a href="campus.html">校园招聘</a></dd>
                    <dd><a href="society.html">社会招聘</a></dd>
                    <dd><a href="responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="../responsibility/development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->
<div class="banner clearfix">
    <dl class="bn-left">
        <dt><i>◇</i>职业生涯</dt>
        <dd><a href="training.html">管理培训生项目</a></dd>
        <dd><a href="intern.html">暑假实习生</a></dd>
        <dd><a href="apply.html">申请温馨提示</a></dd>
        <dd><a href="work.html">工作在怡宝</a></dd>
        <dd><a href="campus.html">校园招聘</a></dd>
        <dd class="active"><a href="society.html">社会招聘</a></dd>
        <dd><a href="responsibility.html">企业责任</a></dd>
    </dl>
    <div class="bn-right">
        <div class="bread">
            <a href="../../index.html"><span>Home</span><i> > </i></a>
            <a href="work.html"><span>职业生涯</span><i> > </i></a>
            <a href="campus.html"><span>社会招聘</span></a>
        </div>
        <h3>社会招聘</h3>
        <div class="bn-right-list">
            <h4>平面设计</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、较强的创意、策划能力；熟悉产品包装设计</dd>
                <dd>2、熟练使用Photoshop、coreldraw  Illustrator等设计制作软件</dd>
                <dd>3、工作认真，有责任心，踏实肯干，富有团队精神</dd>

                <dt>任职要求：</dt>
                <dd>1、美术、平面设计相关专业，大学专科及以上学历</dd>
                <dd>2、具备一定的对广告的审美观及评判能力</dd>
                <dd>3、有一定的沟通、协调能力</dd>
                <dd>4、热爱本职工作，工作细心、责任心强</dd>

                <dt>公司网站:</dt>
                <dd>www.cocovel.com&nbsp&nbsp&nbsp&nbspwww.manzhitang.com</dd>
            </dl>
        </div>
        <div class="bn-right-list">
            <h4>电商设计师</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、热爱设计，对品牌电子商务店铺的整体网页创意设计及维护</dd>
                <dd>2、能独立完成店铺大型活动页面设计及相关整体工作</dd>
                <dd>3、针对项目的需求，对策划有很好的理解和创意并结合品牌调性来做出设计风格</dd>
                <dd>4、具备深厚的美术功底和策略性思考能力，对于创意画面构图色彩运用有独到的见解</dd>
                <dd>5、懂摄影、爱摄影者优先</dd>

                <dt>任职要求：</dt>
                <dd>1、美术，设计专业毕业从事设计相关工作1年以上，有电子商务工作者优先</dd>
                <dd>2、善于创意，拥有良好的设计感觉和大胆的想法，并去制作和实行</dd>
                <dd>3、精通ＰＳ，ＡＩ，ＤＷ等软件</dd>
                <dd>4、有良好的团队合作精神，工作认真细致有不断提升自已的能力，也很强的目标感和执行力</dd>
            </dl>
        </div>
        <div class="bn-right-list">
            <h4>电商运营专员</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、负责公司天猫/淘宝推广，提高店铺点击量、客单价和转化率，完成在公司自己制定的目标销售</dd>
                <dd>2、熟悉淘宝网站后台操作及各类网络营销方法</dd>
                <dd>3、定期针对推广效果进行跟踪，评估，及时提出营销改进措施，给出切实可行的改进方案</dd>
                <dd>4、每日监控的数据：营销数据、交易数据、商品管理、顾客管理</dd>
                <dd>5、熟悉直通车的基本规则，直通车关键词的选择，直通车出价；直通车的六大报表的分析解读</dd>
                <dd>6、策划实施店铺促销活动，节假日，店庆等整店促销活动</dd>
                <dd>7、价格比较与维护，保持价格竞争力，促销、限时打折价格设定</dd>
                <dd>8、 店铺日常安全维护，数据监控，问题检查，保证网店的正常运作，跟踪淘宝最新规则</dd>
                <dd>9、负责定期分析销售数据并提交分析报告</dd>

                <dt>任职要求：</dt>
                <dd>1、2年以上洗护行业天猫网店运营工作经历，熟悉互联网服务及网络的运营管理，具有优秀的策划<br>、组织、实施、运营、推广能力，熟练掌握运营推广技术和手段（例如直通车，智钻，聚划算，淘<br>抢购，淘宝客等淘宝推广方式）</dd>
                <dd>2、沟通能力强，积极主动，有上进心，注重团队合作</dd>
                <dd>3、精通淘宝网规则及营销推广体系，对淘宝店铺后台的活动专区有深入研究</dd>
                <dd>4.了解天猫/淘宝网店运营，精通淘系后台管理</dd>
            </dl>
        </div>
        <div class="bn-right-list">
            <h4>文案策划</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、负责撰写相关项目的文案，包括软文、新闻稿、策划案等</dd>
                <dd>2、负责搜集整理项目所涉及的各类资料，包括广告、文案的搜集，并建立资料库</dd>
                <dd>3、配合总部的品牌简历、品牌宣传、策划等工作</dd>

                <dt>任职要求：</dt>
                <dd>1、大专以上，专业不限</dd>
                <dd>2、热爱创意和策划工作，思维灵活，想象力丰富</dd>
                <dd>3、具备一定的文字功底，有文案相关工作（实习）经历者优先</dd>
                <dd>4、个性开朗，善于交流</dd>
                <dd>5、好学好问，责任心强</dd>
                <dd>6、兴趣广泛，知识面广</dd>
            </dl>
        </div>
        <div class="bn-right-list">
            <h4>出纳员</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、日常账务处理与核对，提供各类统计报表</dd>
                <dd>2、每日电商平台支付宝等银行流水下载及登账</dd>
                <dd>3、购买、保存并开具各类发票</dd>
                <dd>4、月底仓库盘点</dd>
                <dd>5、上级领导安排的其他工作</dd>

                <dt>任职要求：</dt>
                <dd>1、专科及以上学历，财务、会计等相关专业优先考虑</dd>
                <dd>2、有会计从业资格证<br>（昆山本地户口或有稳定住房者优先考虑）</dd>
            </dl>
        </div>
        <div class="bn-right-list">
            <h4>新媒体运营</h4>
            <dl>
                <dt>岗位职责：</dt>
                <dd>1、企业微信公众号、官网、微博等平台的日常运营及推广</dd>
                <dd>2、独立策划与提供优质、有高度传播性的内容，能够完成专题策划、编辑、制作</dd>
                <dd>3、完成自媒体的活动运营策划及执行</dd>
                <dd>4、开拓自媒体渠道，分析各平台渠道的数据，优化策略</dd>

                <dt>任职要求：</dt>
                <dd>1、有微博、微信或网络推广运营经验。有一定互联网推广资源者优先</dd>
                <dd>2、具有一定的文字功底和表现能力、表达能力、沟通协调能力</dd>
                <dd>3、熟悉微信运营、口碑运营、PR炒作、论坛SNS营销</dd>
                <dd>4、思维灵活，具备创意及提出活动方案的能力，积极主动，创造性强</dd>
            </dl>
        </div>

    </div>
</div>
<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="../about/profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="../about/history.html">历史及里程碑</a></dd>
            <dd><a href="../about/culture.html">文化及价值观</a></dd>
            <dd><a href="../about/integrity.html">诚信合规</a></dd>
            <dd><a href="../about/FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="training.html">管理培训生项目</a></dd>
            <dd><a href="intern.html">暑假实习生</a></dd>
            <dd><a href="apply.html">申请温馨提示</a></dd>
            <dd><a href="work.html">了解怡宝</a></dd>
            <dd><a href="work.html">工作在怡宝</a></dd>
            <dd><a href="campus.html">校园招聘</a></dd>
            <dd><a href="society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="../responsibility/development.html">志愿者</a></dd>
            <dd><a href="../responsibility/development.html">公益事业</a></dd>
            <dd><a href="../responsibility/development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>