<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>怡宝集团 CESTBON GROUP</title>
    <link href="../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../css/development.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <link rel="icon" type="image/ico" href="../../favicon.ico">
</head>

<body>
<!--头部logo-->
<div class="public-header">
    <a href="../../index.html" class="header-logo"></a>
    <div class="header-language">
        <span>怡宝国际站</span>
        <a href="#">简</a><i> / </i><a href="#">English</a>
    </div>
</div>
<!--头部nav-->
<div class="public-nav">
    <div class="public-nav-list">
        <ul>
            <li class="nav_menu"><a href="../about/FAQ.html">关于我们<i>◇</i></a>
                <dl class="menu">
                    <dt>关于我们</dt>
                    <dd><a href="../about/FAQ.html">常见问题</a></dd>
                    <dd><a href="../about/integrity.html">诚信合规</a></dd>
                    <dd><a href="../about/profile.html">公司简介</a></dd>
                    <dd><a href="../about/history.html">历史和里程碑</a></dd>
                    <dd><a href="../about/culture.html">文化和价值观</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_news"><a href="../news/news.html">新闻及媒体资源<i>◇</i></a>
                <dl class="menu">
                    <dt>新闻及媒体资源</dt>
                    <dd><a href="../news/news-1.html">岂止于“香”-COCOVEL携手图书管计划公益活动</a></dd>
                    <dd><a href="../news/news-2.html">cocovel入驻华润万家</a></dd>
                </dl>
            </li>
            <li class="nav_menu nav_brand"><a href="../brand/brand.html">查看品牌<i>◇</i></a>
                <dl class="menu">
                    <dt>查看品牌</dt>
                    <dd><a href="../brand/brand.html">COCOVEL蔻露薇</a></dd>
                    <dd><a href="../brand/brand.html">MANZHITANG 满芝堂</a></dd>
                    <dd><a href="../brand/brand.html">HERBAL OF ORGANICSFOREST好肤</a></dd>
                    <dd><a href="../brand/brand.html">CLER SOFT清柔</a></dd>
                    <dd><a href="../brand/brand.html">HAIR DRESSER理发师</a></dd>
                    <dd><a href="../brand/brand.html">MIL BEBES 百贝宝</a></dd>
                    <dd><a href="../brand/brand.html">EZAKI YUUKO江崎优子</a></dd>
                    <dd><a href="../brand/brand.html">MARTIN马丁</a></dd>
                    <dd><a href="../brand/brand.html">RANDOM锐动</a></dd>
                    <dd><a href="../brand/brand.html">YUN SWEET 蕴香</a></dd>
                    <dd><a href="../brand/brand.html">韧</a></dd>
                    <dd><a href="../brand/brand.html">康牌</a></dd>
                    <dd><a href="../brand/brand.html">LOVEBELOVED心爱有加</a></dd>
                    <dd><a href="../brand/brand.html">掌声</a></dd>
                    <dd><a href="../brand/brand.html">UZURI瑞彩</a></dd>
                    <dd><a href="../brand/brand.html">齿丽净</a></dd>
                    <dd><a href="../brand/brand.html">TETAK</a></dd>
                    <dd><a href="../brand/brand.html">GCOOL</a></dd>
                </dl>
            </li>
            <li class="nav_menu"><a href="../career/work.html">职业生涯<i>◇</i></a>
                <dl class="menu">
                    <dt>职业生涯</dt>
                    <dd><a href="../career/training.html">管理培训生项目</a></dd>
                    <dd><a href="../career/intern.html">暑假实习生</a></dd>
                    <dd><a href="../career/apply.html">申请温馨提示</a></dd>
                    <dd><a href="../career/work.html">工作在怡宝</a></dd>
                    <dd><a href="../career/campus.html">校园招聘</a></dd>
                    <dd><a href="../career/society.html">社会招聘</a></dd>
                    <dd><a href="../career/responsibility.html">企业责任</a></dd>
                </dl>
            </li>
            <li><a href="development.html">企业责任</a></li>
            <li><a href="../contact/contact.html">联系我们</a></li>
        </ul>
    </div>
</div>
<!--内容-->

<div class="banner">
    <div class="inner">
        <div class="banner-1 clearfix">
            <div class="banner-1-left"><img src="../../image/development-1.jpg"/></div>
            <div class="banner-1-right">
                <h4>我们深知</h4>
                <h5>我们能做的还有很多</h5>
            </div>
        </div>
    </div>

    <div class="banner-2">
        <div class="ban2-inner">
            <img src="../../image/development-2.png"/>
            <p>在怡宝，环境与社会责任是每一位员工工作职责的一部分。它们有机地融入我们的日常工作与企业经营中。<br/><br/>
                怡宝公司的长期愿景是：在生产消费者喜爱的洗护用品的同时，最大限度地节约资源、减少浪费、保护环境。我们希望选择怡宝产品的人们知道，怡宝的产品创造都包含了对可持续发展的承诺，从配方、生产、包装设计到交货，我们都负责任地生产产品，绝不在产品性能和价值上有所妥协，我们期望公司的各个品牌能帮助志同道合的消费者做出更符合可持续发展的选择及有益改变。<br/><br/>
                我们将可持续性发展融入到公司运营的方方面面，不仅为了提高企业可持续发展的价值，更为推动社会的和谐发展做出贡献。<br/><br/>
            </p>
        </div>
    </div>
</div>

<div class="main">
    <div class="inner">
        <div class="left">
            <div class="re-icon"><img src="../../image/deve-1.png"/></div>
            <h4>产品创新</h4>
            <p>我们运用怡宝的核心创新能力来设计并生产出的产品，不仅能满足消费者需求，还能减少原材料的浪费和废料的产生，节约能源和水资源。我们与行业专家及学术界建立合作伙伴关系，多方合作应对复杂挑战，不断创新产生有效的解决方案。</p>
        </div>

        <div class="left">
            <div class="re-icon"><img src="../../image/deve-2.png"/></div>
            <h4>社会责任</h4>
            <p>怡宝积极为美化全球消费者的生活而努力，同时也坚持不懈地用行动推动社会文明进步和环境可持续发展。我们从生产、包装、运输等多个环节减少对环境的不利影响，从根本改善环境，同时让我们的供应商参与其中，将可持续发展的精神传播发扬。</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="main">
    <div class="inner">
        <div class="left">
            <div class="re-icon"><img src="../../image/deve-3.png"/></div>
            <h4>企业文化</h4>
            <p>怡宝人始终以为用户提供优质的产品和服务作为企业的核心价值观，我们倡导诚信、热情和包容的主人翁精神，公司内部上下齐心，为企业的持续发展注入源源不断的精神动力。</p>
        </div>

        <div class="left">
            <div class="re-icon"><img src="../../image/deve-4.png"/></div>
            <h4>人才培养</h4>
            <p>人才是怡宝最宝贵的财富，我们致力于为员工提供有趣又有挑战性的工作、轻松友好的工作氛围、个性化的培训，以及具有竞争力的薪酬福利，吸引和培养优秀人才，为公司的长久发展奠定坚实的基础。</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--底部-->
<div class="public-footer">
    <div class="footer-inner clearfix">
        <dl class="about">
            <dt>关于我们</dt>
            <dd><a href="../about/profile.html">公司介绍</a></dd>
            <dd><a href="#">业务范畴</a></dd>
            <dd><a href="../about/history.html">历史及里程碑</a></dd>
            <dd><a href="../about/culture.html">文化及价值观</a></dd>
            <dd><a href="../about/integrity.html">诚信合规</a></dd>
            <dd><a href="../about/FAQ.html">常见问题</a></dd>
            <dd><a href="#">旗下周边公司</a></dd>
        </dl>
        <dl class="news">
            <dt>新闻及媒体资源</dt>
            <dd><a href="../news/news.html">新闻中心</a></dd>
            <dd><a href="../news/news.html">媒体报导</a></dd>
            <dd><a href="../news/news.html">视频</a></dd>
            <dd><a href="../news/news.html">媒体资料库</a></dd>
            <dd><a href="../news/news.html">社交媒体</a></dd>
        </dl>
        <dl class="brand">
            <dt>查看品牌</dt>
            <dd><a href="../brand/brand.html">Cocovel</a></dd>
            <dd><a href="../brand/brand.html">瑞彩</a></dd>
            <dd><a href="../brand/brand.html">康牌</a></dd>
            <dd><a href="../brand/brand.html">掌声</a></dd>
            <dd><a href="../brand/brand.html">满芝堂</a></dd>
            <dd><a href="../brand/brand.html">齿丽净</a></dd>
            <dd><a href="../brand/brand.html">清柔</a></dd>
            <dd><a href="../brand/brand.html">tetak</a></dd>
            <dd><a href="../brand/brand.html">理发师</a></dd>
            <dd><a href="../brand/brand.html">his</a></dd>
            <dd><a href="../brand/brand.html">百贝宝</a></dd>
            <dd><a href="../brand/brand.html">gcool</a></dd>
            <dd><a href="../brand/brand.html">更多>></a></dd>
        </dl>
        <dl class="career">
            <dt>职业生涯</dt>
            <dd><a href="../career/training.html">管理培训生项目</a></dd>
            <dd><a href="../career/intern.html">暑假实习生</a></dd>
            <dd><a href="../career/apply.html">申请温馨提示</a></dd>
            <dd><a href="../career/work.html">了解怡宝</a></dd>
            <dd><a href="../career/work.html">工作在怡宝</a></dd>
            <dd><a href="../career/campus.html">校园招聘</a></dd>
            <dd><a href="../career/society.html">社会招聘</a></dd>
        </dl>
        <dl class="responsibility">
            <dt>企业责任</dt>
            <dd><a href="development.html">志愿者</a></dd>
            <dd><a href="development.html">公益事业</a></dd>
            <dd><a href="development.html">可持续发展</a></dd>
        </dl>
        <dl class="contact">
            <dt>联系我们</dt>
            <dd><a href="../contact/contact.html">办公地点</a></dd>
            <dd><a href="../contact/contact.html">投资者联系</a></dd>
            <dd><a href="../contact/contact.html">媒体联系</a></dd>
            <dd><a href="../contact/contact.html">客户联系</a></dd>
        </dl>
    </div>
    <div class="line"></div>
    <div class="join">
        <p>加入我们 |  免责声明 |  私隱政策 |  版权公告 © 2017 怡宝集团控股有限公司及／或其关联公司及特许人版权所有</p>
    </div>
</div>
</body>
</html>